{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Home - My Simple Blog{% endblock %}

{% block content %}
    
        
    
    {% if blogs %}
    <div id="blog-posts">
        
        
        {% for post in page_obj %}
        <article>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content|truncate_with_dots:100 }}</p>
            <a href="{% url 'post_detail' post.pk %}" class="button">Read More</a>
        </article> 
        {% endfor %}
        <div class="pagination">
            
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">« Previous</a>
            {% endif %}
                
            <a href="#">{{ page_obj.number }}</a>
            
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next »</a>
            {% endif %}
                
        </div>
            
      
    </div>
    {% else %}
    <div id="no-blogs">
        <p>No blog posts available at the moment. Please check back later.</p>
    </div>
    {% endif %}


    
{% endblock %}
