{% extends 'base.html' %}

{% block title %}Change Password - My Simple Blog{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    <form action="change_password" method="post">
        {% csrf_token %}
        <label for="current-password">Current Password:</label>
        <input type="password" id="current-password" name="current-password" required>
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="new-password" required>
        <button type="submit">Change Password</button>
    </form>
{% endblock %}
